/* #header {
    background: url("wood.jpg") center top / cover no-repeat;
} */

.h1, h1 {
    font-size: 3rem;
}

.jumbotron {
    margin-bottom: 0rem;
}

#subheading {
    font-size: 20px;
}

#header{
    background-image: url("wood.jpg") ;
    background-size: cover; 
    height: 100%;
    width: 100%;
}

#about-me{
    height: 100%;
    width: 100%;
    background-color: #292b2c;
}

#about-me-text {
    color: white;
}

#portfolio {
    margin-top: 1.5rem;
}
/* .jumbotron{
    background-image: url("wood.jpg") ;
    background-size: cover; 
    height: 100%;
    width: 100%;
} */

#linkedinbtn {
    color: #0e76a8;
}

#twitterbtn {
    color: #38A1F3;
}

#githubbtn {
    color: #6e5494
}

#avatar {
    border: #292b2c solid 3px;
    border-radius: 50%;
    width: 250px;
    height: 250px;
    background-image: url(ProfilePic.JPG);
    background-size: cover;
}

